<nav>
  <!-- sx -->
  <div class="logo">
    <img src="images/LOGO_HI_C.png" alt="logo">
  </div>

  <!-- centro -->
  <div class="navigation-btns">
    <!-- Home si vedono gli affidamenti in corso-->
    <a class="nav-btn" href="">
      <img src="icons/home.svg" alt="home-img">
      <span>Home</span>
    </a>
    <!-- Archivio si vedono gli affidamenti conclusi -->
    <a class="nav-btn" href="">
      <img src="icons/briefcase.svg" alt="affidamenti-img">
      <span>Affidamenti</span>
    </a>
  </div>

  <!-- dx -->
  <div class="profile-group">
    <!-- checkbox tema -->
    <input class="tema" type="checkbox" />

    <button class="notifiche-btn"></button>

    <button class="profilo-btn"></button>
  </div>
</nav>