<section class="toolbar">
    <div class="toolbar-header">
        <div>
            <h1>Affidamenti in corso</h1>
        </div>
        <div class="toolbar-azioni">
            <input type="text" class="search-bar" placeholder="Cerca...">
            <a class="add-btn" href="">
                <img src="icons/add.svg" alt="add-img">
                <span>Nuovo affidamento</span>
            </a>
        </div>
    </div>

    <!-- seconda riga per filtri -->
    <div class="filters">
        <button class="filter-btn">Stato
            <img src="icons/chevron-down.svg" alt="chevron-down">
        </button>
        <button class="filter-btn">Commento
            <img src="icons/chevron-down.svg" alt="chevron-down">
        </button>
        <button class="filter-btn">Data incarico
            <img src="icons/chevron-down.svg" alt="chevron-down">
        </button>
        <button class="filter-btn">Richiedente
            <img src="icons/chevron-down.svg" alt="chevron-down">
        </button>
        <button class="filter-btn">Oggetto richiesta
            <img src="icons/chevron-down.svg" alt="chevron-down">
        </button>
        <button class="filter-btn">Fornitore
            <img src="icons/chevron-down.svg" alt="chevron-down">
        </button>
        <button class="filter-btn">Imponibile
            <img src="icons/chevron-down.svg" alt="chevron-down">
        </button>
        <button class="filter-btn">IVA
            <img src="icons/chevron-down.svg" alt="chevron-down">
        </button>
    </div>
</section>