@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

:root {
  /* Vars */
  --nav-height: 100px;
  --nav-items-dimension: 1.5;
  --sidebar-width: 60px;
  --main-border-radius: 1rem;
  --btn-border-radius: 12px;
  /* Colors */
  --sidebar-btn-main-color: hsl(0, 0%, 86%);
  --sidebar-btn-clicked-color: hsl(0, 0%, 80%);
}

* {
  font-family: "Lexend", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: minmax(60px, var(--sidebar-width)) 1fr;
  grid-template-rows: var(--nav-height) 1fr 1fr 1fr;
  grid-template-areas:
    "logo nav"
    "sidebar main"
    "sidebar main"
    "sidebar main";
  margin: 0;
  gap: 1rem;
  padding: 12px;
  height: 100vh;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 90%);
}

.logo {
  position: relative;
  grid-area: logo;
  display: grid;
  place-items: center;
  background-size: cover;
  align-self: center;
  justify-self: center;
  border-radius: 999px;
  background-color: white;
  width: calc(var(--sidebar-width) / 1.5);
  aspect-ratio: 1 / 1;

  & img {
    width: inherit;
  }
}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /** searchbar */
  & .search-group {
  
    & .searchbar {
      position: relative;

      & input {
        border-radius: var(--main-border-radius);
        border: none;
        height: calc(var(--nav-height) / var(--nav-items-dimension));
        width: 300px;
        padding: 0 20px;
        background-color: white;
        font-size: 1rem;

        &:focus {
          outline: 1px solid black;
        }
      }
      
      & button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: var(--main-border-radius);
        border: none;
        height: var(--nav-height);
        width: var(--nav-height);
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  /** checkbox tema + btn notifiche + anchor profilo */
  & .profile-group {
    display: flex;
    align-items: center;
    height: calc(var(--nav-height) / 2);
    gap: 2rem;

    & .tema {
      appearance: none;
      height: calc(var(--nav-height) / var(--nav-items-dimension));
      aspect-ratio: 1 / 1;
      cursor: pointer;
      border-radius: var(--main-border-radius);
      border: none;
      background-color: white;

      &:checked {
        background-color: black;
      }
    }

    & .notifiche-btn {
      height: calc(var(--nav-height) / var(--nav-items-dimension));
      aspect-ratio: 1 / 1;
      cursor: pointer;
      border-radius: var(--main-border-radius);
      border: none;
      background-color: white;
    }

    & .profilo {
      display: grid;
      place-items: center;
      text-decoration: none;
      color: black;
      height: calc(var(--nav-height) / var(--nav-items-dimension));
      aspect-ratio: 1 / 1;
      cursor: pointer;
      border-radius: var(--main-border-radius);
      background-color: white;
    }
  }
}

.sidebar-btn-container {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  justify-content: flex-start;
  height: 100%;
  
  & .navigation-btns {
    display: inherit;
    flex-direction: inherit;
    gap: 5px;
    margin-top: auto;
    margin-bottom: auto;
    background-color:var(--sidebar-btn-main-color);
    border-radius: var(--btn-border-radius);
  }

  & .profile-btns {
    display: inherit;
    flex-direction: inherit;
    gap: 5px;
    background-color:var(--sidebar-btn-main-color);
    border-radius: var(--btn-border-radius);
  }



  .theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    background-image: url('../icons/sun.svg'); /* Default icon */
    background-repeat: no-repeat;
    background-position: center;

    & input {
      display: none;
    }

    &:has(input:checked) {
      background-image: url('../icons/moon.svg');
    }
  }

  & a {
    display: grid;
    place-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    /* background-color: #d6d6d6; */
    background-color:var(--sidebar-btn-main-color);
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: var(--btn-border-radius);
  }
}

main {
  grid-area: main;
  border-radius: var(--main-border-radius);
  background-color: white;
}
